.idea/.gitignore
.idea/
ClientForChat/target/classes/chatApp/Client$1.class
ClientForChat/target/classes/chatApp/Client$2.class
ClientForChat/target/classes/chatApp/Client.class
ClientForChat/target/classes/chatApp/Connection$1.class
ClientForChat/target/classes/chatApp/Connection.class
ClientForChat/target/classes/chatApp/ConnectionListener.class
ServerForChat/src/main/java/META-INF/MANIFEST.MF
ServerForChat/ServerForChat.iml
ServerForChat/target/classes/chatApp/Connection$1.class
ServerForChat/target/classes/chatApp/Connection.class
ServerForChat/target/classes/chatApp/ConnectionListener.class
ServerForChat/target/classes/chatApp/Server.class
ClientForChat/ClientForChat.iml
ClientForChat/src/main/java/META-INF/MANIFEST.MF
webClient/target/webClient/WEB-INF/lib/spring-beans-5.3.22.jar
webClient/target/webClient/WEB-INF/lib/spring-context-5.3.22.jar
webClient/target/webClient/WEB-INF/lib/spring-core-5.3.22.jar
webClient/target/webClient/WEB-INF/lib/spring-expression-5.3.22.jar
webClient/target/webClient/WEB-INF/lib/spring-jcl-5.3.22.jar
webClient/target/webClient/WEB-INF/lib/spring-web-5.3.22.jar
webClient/target/webClient/WEB-INF/lib/spring-webmvc-5.3.22.jar
webClient/target/webClient/WEB-INF/classes/com/webClient/configurations/WebConfig.class
webClient/target/webClient/WEB-INF/classes/com/webClient/controllers/ClientController.class
webClient/target/webClient/WEB-INF/lib/jackson-annotations-2.13.3.jar
webClient/target/webClient/WEB-INF/lib/jackson-core-2.13.3.jar
webClient/target/webClient/WEB-INF/lib/jackson-databind-2.13.3.jar
webClient/target/webClient/WEB-INF/lib/javax.servlet-api-4.0.1.jar
webClient/target/webClient/WEB-INF/lib/jstl-1.2.jar
webClient/target/webClient/WEB-INF/lib/spring-aop-5.3.22.jar
webClient/target/classes/com/webClient/client/Connection$1.class
webClient/target/classes/com/webClient/client/Connection.class
webClient/target/classes/com/webClient/client/ConnectionListener.class
webClient/target/classes/com/webClient/configurations/DispatcherServletConfig.class
webClient/target/classes/com/webClient/configurations/WebConfig.class
webClient/target/classes/com/webClient/controllers/ClientController.class
webClient/target/webClient/index.jsp
webClient/target/webClient/result.jsp
webClient/target/webClient/META-INF/MANIFEST.MF
webClient/target/webClient/WEB-INF/classes/com/webClient/client/Client.class
webClient/target/webClient/WEB-INF/classes/com/webClient/client/Connection$1.class
webClient/target/webClient/WEB-INF/classes/com/webClient/client/Connection.class
webClient/target/webClient/WEB-INF/classes/com/webClient/client/ConnectionListener.class
webClient/target/webClient/WEB-INF/classes/com/webClient/configurations/DispatcherServletConfig.class
webClient/target/classes/com/webClient/client/Client.class
